<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=800" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styleMocktail.css" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
<!--     <% import APIQuery.py %> -->
  </head>

  <body style="background-color:#5F506B;">
    <script type="text/javascript" src="mocktail.js"></script>

    <a href="index.html"><img class = "home" src="https://cdn.glitch.me/bb65618a-4175-433f-bb99-013df2861f62%2F588a668cd06f6719692a2d1b.png?v=1638924387744">  </a> 
<button id="top" onclick="clearPage()">
  Clear Page
    </button>
    <button id="topMock" >
      Random Mocktail!
    </button>
    
    <p class="title" >
  Non-Alcoholic Drinks
    </p>
    

      
      <div class="center">
      <form id="search" > 
        <p style="font-size:18px;"><strong>Filter by Ingredient</strong></p>
        <label style="font-size:12px;">
          <input type="checkbox"  />
          Grenadine</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Orange juice</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Pineapple Juice</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cream</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Water</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Ginger</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Guava juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Lemon juice</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Pineapple</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sugar</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Grapefruit juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Apple juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Maraschino cherry</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Coffee</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cinnamon</label
        >
         <br> <br> <br>
      </form>
    <br>
      <button id="search" onclick="search()">
    Search
  </button>
        <br>
        
  <div id="randoList">
            
          </div>
   
    </div>
<!--   <% q=APIQuery() %> 
    <% q.nonAlcSearchByIngredients(self, xs) %> -->

    
   <span class="row">
   
        <div id="list"class="col-lg-12 drinks">

        </div>
     

  </span>
  


  
  <script type="text/javascript" src="script.js"></script>
  <script type="text/javascript" src="nonalc.json"></script>
  </body>
</html>


