<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=800" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'dist/css/AlcStyle.css') }}" type="text/css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
<!--     <% import APIQuery.py %> -->
  </head>

  <body style="background-color:#76949F;">
    <!-- <script type="text/javascript" src="script.js"></script> -->

    <a href="/"><img style="height: 80px; width: 80px;" class = "home" src="https://cdn.glitch.me/bb65618a-4175-433f-bb99-013df2861f62%2F588a668cd06f6719692a2d1b.png?v=1638924387744">  </a> 
<h1 class="title">
  Alcoholic Drinks
    </h1>

      
      
      <form id="search" action="/cocktail/search" method="post"  name="subSearchC"> 
        <p style="font-size:18px;"><strong>Filter by Ingredient</strong></p>
        <label style="font-size:12px;">
          <input type="checkbox"  />
          Light Rum</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Applejack</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Gin</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Dark Rum</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sweet Vermouth</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Strawberry Schnapps</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Scotch</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Apricot Brandy</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Triple Sec</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Southern Comfort</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Orange Bitters</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Brandy</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Lemon Vodka</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Blended Whiskey</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Dry Vermouth</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Amaretto</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Tea</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Champagne</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Coffee Liqueur</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Bourbon</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Tequilla</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Vodka</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Bitters</label
        >
        
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sugar</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Kahlua</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Demerara Sugar</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Dubonnet Rouge</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Watermelon</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Lime Juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Irish Whiskey</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Apple Brandy</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Carbonated Water</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cherry Brandy</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Creme de Cacao</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Grenadine</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Port</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Coffee Brandy</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Red Wine</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Rum</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Grapefruit juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Ricard</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sherry</label
        > 
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cognac</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sloe gin</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Apple Juice</label
        >
        
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Pineapple Juice</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Lemon Juice</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sugar Syrup</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Milk</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Strawberries</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Chocolate Syrup</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Yoghurt</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Mango</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Ginger</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Lime</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cantaloupe</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Berries</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Grapes</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Kiwi</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Tomato Juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cocoa Powder</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Chocolate</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Heavy Cream</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Galliano</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Peach Vodka</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Ouzu</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Coffee</label
        >
        
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Spiced Rum</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Water</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Espresso</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Angelica Root</label
        >
<!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Orange</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cranberries</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Johnnie Walker</label
        >
        <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Apple Cider</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Everclear</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cranberry Juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Egg yolk</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Egg</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Grape Juice</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Peach Nectar</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Lemon</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Whiskey</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Absolut Citron</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Pisco</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Irish Cream</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Ale</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Chocolate Liqueur</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Midori Melon Liqueur</label
        >
        
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sambuca</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Cider</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Sprite</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          7-Up</label
        >
        
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Blackberry Brandy</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Peppermint Schnapps</label
        >
         <!--         <br /> -->
        <label style="font-size:12px;">
          <input type="checkbox" />
          Creme de Cassis</label
        >
        <br> <br> <br>
        <button id="search" onclick="search()">
            Search
          </button>
       
        
      </form>
    <br>
    <br>

    </div>
<!--   <% q=APIQuery() %> 
    <% q.nonAlcSearchByIngredients(self, xs) %> -->

  
   <span class="row">
   
        <div id="list"class="col-lg-12 drinks">

            <div id="list"class="col-lg-12 drinks">

                {% if results %}
                <p>{{results}}</p>
                {% endif %}
              </div>

        </div>

  </span>
  


  
  <script type="text/javascript" src="script.js"></script>
  </body>
</html>